.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 60px;
  padding-top: 40px;
}

.App-header p {
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}

.copy {
  background-color: rgba(14, 188, 243, 0.1);
  color: rgb(14, 188, 243);
  border-color: rgb(14, 188, 243);
}

.copied {
  background-color: rgba(41, 186, 165, 0.1);
  border-color: rgb(41, 186, 165);
  color: rgb(41, 186, 165);
}

.images {
  display: flex;
  width: 416px;
  margin-bottom: 16px;
}

.images .cat {
  max-width: 100%;
  align-self: center;
}

.images .cat:last-child {
  order: -1;
  margin-right: 16px;
}

.images img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-height: 505px) {
  .images {
    flex-direction: column;
    width: 200px;
    margin-bottom: 24px;
  }

  .images .cat:last-child {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .images {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .images {
    width: 916px;
    flex-direction: row;
  }
  .images .cat:last-child {
    margin-bottom: 0;
    margin-right: 16px;
  }
}